.gradebook {
  background-color: white;
  opacity: 1;
}

.gradebookContainer {
  padding: 0px !important;
  background-color: white;
  opacity: 1;
  min-height: 480px;
}

.exportLink {
  color: gray !important;
}

.envelopeButton {
  width: 48px;
}

.envelopeButtonParent {
  text-align: center;
  width: 220px;
}