.gradebook {
  background-color: white;
  opacity: 1;
}

.gradebookContainer {
  padding: 0px !important;
  background-color: white;
  opacity: 1;
}

.exportLink {
  color: gray !important;
}

.envelopeButton {
  width: 48px;
}

.envelopeButtonParent {
  cursor: pointer;
  text-align: center;
}