.gradebook {
  background-color: white;
  opacity: 1;    
}

.gradebookTable {
  min-height: 512px;
}

.table-responsive {
  min-height: 512px;
}

.gradebookContainer {
  padding: 0px !important;
  background-color: white;  
  opacity: 1;  
  min-height: 512px; 
}

.gradebookBody {
  min-height: 512px;
}

.exportLink {
  color: gray !important;
}

.envelopeButton {
  width: 48px;
}

.envelopeButtonParent {
  text-align: center;
  width: 220px;
}