.grade {
  cursor: pointer;
  padding-top: 4px;
}

.gradeSelect {
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  border-color: #DCDCDC;
  margin: 3px;
}

.gradeSelect:hover {
  background-color: #77dd77;
}

.pendingEmailMarker {
  color: red;
  float: left;
  font-size: 150%
}

.overlayTriggerWrapper {
  float: left;
}