.userReport {

}

.userReportCard {
  box-shadow: 1px 1px grey;
}

.userReportCardTitle {
  text-align: center;
  padding-top: 12px;
}

.userReportNameRow {
  background-color: gray;
  border-radius: 5px;
}

.userReportKlassNameRow {
  background-color: lightgray;
  border-radius: 5px 5px 5px 5px;
  margin-top: 5px;
}

.userReportHomeworkRow {
  padding-top: 5px;
  margin-bottom: 5px;
}