<!DOCTYPE html>
<html>
  <head>
    <title>Język Polski</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8" />
  </head>

  <body style='background-image: url("castle.jpeg"); background-size: cover'>
      <div id="data-bind-node"></div>
  </body>
  <footer>
    <script type="text/javascript" src="/jezykpolski/dist/bundle.js" rel="prefetch"></script>
    <link rel="stylesheet" href="/jezykpolski/dist/bundle.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
crossorigin="anonymous">
  </footer>
</html>
